<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{constant('models\\Bootstrap::APP_URL')}}assets/js/shopping.js"></script>
  <script src="{{constant('models\\Bootstrap::APP_URL')}}assets/js/common.js"></script>
  <link href="{{constant('models\\Bootstrap::APP_URL')}}assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>会員登録</title>
</head>
<body>
   <div class="wrapper">
      {% include 'header.html.twig' %}
      <div class="contents">
        <div class="contents_inner">
          <div class="main-contents">
          <h3>会員登録</h3>
          <input type="hidden" name="entry_url" id="entry_url" value="{{constant('models\\Bootstrap::ENTRY_URL')}}">
          <form action="userConfirm.php" method="post">
            <table class="list detail block">
              <tr>
                <th>お名前<span class="red">必須</span></th>
                <td>
                  <input type="text" name="full_name" value="{{dataArr.full_name}}">
                  {% if errArr.full_name | length > 0 %}<br>
                  <span class="red">{{errArr.full_name}}</span>{% endif %}
                </td>
              </tr>
              <tr>
                <th>フリガナ<span class="red">必須</span></th>
                <td>
                  <input type="text" name="full_name_kana" value="{{dataArr.full_name_kana}}">
                  {% if errArr.full_name_kana | length > 0 %}<br>
                  <span class="red">{{errArr.full_name_kana}}</span>{% endif %}
                </td>
              </tr>
              <tr>
                <th>性別<span class="red">必須</span></th>
                <td>
                  {% for index, label in sexArr %}
                    <input type="radio" name="sex" value="{{index}}" id="sex_{{index}}" {% if dataArr.sex == index %} checked="checked" {% endif %}>
                    <label for="sex_{{index}}">{{label}}</label>
                  {% endfor %}
                  {% if errArr.sex | length > 0 %}<br><span class="red">{{errArr.sex}}</span>{% endif %}
                </td>
              </tr>
              <tr>
                <th>生年月日<span class="red">必須</span></th>
                <td>
                  <select name="year">
                    {% for index, label in yearArr %}
                      <option value="{{index}}" {% if dataArr.year == index %} selected {% endif %}>
                      {{label}}
                      </option>
                    {% endfor %}
                  </select>
                  <select name="month">
                    {% for index, label in monthArr %}
                      <option value="{{index}}" {% if dataArr.month == index %} selected {% endif %}>{{label}}</option>
                    {% endfor %}
                  </select>
                  <select name="day">
                    {% for index, label in dayArr %}
                      <option value="{{index}}" {% if dataArr.day == index %} selected {% endif %}>{{label}}</option>
                    {% endfor %}
                  </select>
                  {# errArr.sexが0文字より大きい場合表示 #}
                  {% if errArr.year | length > 0 %}<br>
                  <span class="red">{{errArr.year}}</span>{% endif %}
                  {% if errArr.month | length > 0 %}<br>
                  <span class="red">{{errArr.month}}</span>{% endif %}
                  {% if errArr.day | length > 0 %}<br>
                  <span class="red">{{errArr.day}}</span>{% endif %}
                </td>
              </tr>
              <tr>
                <th>郵便番号<span class="red">必須</span></th>
                <td>
                {# size:3文字分のフォーム幅 maxlength:最大何文字まで入力できる指定ができる #}
                  <input type="text" name="zip1" value="{{dataArr.zip1}}" id="zip1" size="3" maxlength="3">
                  <input type="text" name="zip2" value="{{dataArr.zip2}}" id="zip2" size="4" maxlength="4">
                  <input type="button" name="address_search" value="〒から住所を入力" id="address_search">
                  {% if errArr.zip1 | length > 0 %}<br>
                  <span class="red">{{errArr.zip1}}</span>
                  {% endif %}
                  {% if errArr.zip2 | length > 0 %}<br>
                  <span class="red">{{errArr.zip2}}</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>住所<span class="red">必須</span></th>
                <td>
                  <input type="text" name="address" value="{{dataArr.address}}" id="address" size="40">
                  {% if errArr.address | length > 0 %}<br>
                    <span class="red">{{errArr.address}}</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>メールアドレス<span class="red">必須</span></th>
                <td>
                  <input type="email" name="email" value="{{dataArr.email}}" size="40">
                  {% if errArr.email | length > 0%}<br>
                    <span class="red">{{errArr.email}}</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>電話番号<span class="red">必須</span></th>
                  <td>
                    <input type="text" name="phone_number" value="{{dataArr.phone_number}}" size="11" maxlength="11">
                    {% if errArr.phone_number | length > 0 %}<br>
                      <span class="red">{{errArr.phone_number}}</span>
                    {% endif %}
                  </td>
              <tr>
              <tr>
                <th>パスワード<span class="red">必須</span></th>
                <td>
                  <input type="password" name="password" value="{{dataArr.password}}" size="16">
                  {% if errArr.password | length > 0%}<br>
                    <span class="red">{{errArr.password}}</span>
                  {% endif %}
                </td>
              </tr>
            </table>
            <div class="r-20">
              <input type="submit" name="confirm" value="登録確認">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>